.basket__count {
    font-size: 9px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 15px;
    height: 15px;
    color: #ffffff;
    background: #ff8b38;
    transform: translateY(-10px);
    border-radius: 50%
}

.basket__amount {
    font-size: 9px;
    text-transform: lowercase;
    color: #c1c1c2;
}

.basket__amount_sum {
    font-size: 9px;
}