.add_to_basket {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 270px;
    height: 35px;
    background-color: #ff8b38;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
}

.add_to_basket._active {
    background-color: grey;
}