.content{
    background-color: #ffffff;
    border-radius: 7px;
    padding: 15px;
    margin: 20px 0 20px 0;
}
.title{
    color:#252525 ;
}
.img{
    height: 120px;
    width: 175px;
    object-fit: contain;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.product__text{
    padding-top: 10px;
    width: 377px;
}
.product__description{
    padding-top: 20px;
    font-size: 12px;
}
.product__price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}