.Header__block {
    width: 100%;
    background: #252525;
}

.Header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: #f5f5f7;
}