* {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;

    box-sizing: border-box;
}

body {
    overflow: auto;
    background: #d8d8d8;
}

a {
    color: #252525;
    text-decoration: none;
}

.container {
    max-width: 901px;
    margin: 0 auto;
    width: 100%;
}

.wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
}